extends ./layout/index

block contenido     
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}          
                blockquote Lorem  ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit nibh, mollis non vehicula sed, fermentum et ligula. Phasellus sodales dolor id lectus hendrerit ornare. Proin nec augue ligula. Sed facilisis sapien eu felis sollicitudin commodo. Aenean porttitor ultricies mauris, iaculis vehicula arcu aliquam in. In nisl purus, hendrerit ut diam sit amet, luctus porttitor magna.

                p Aenean ligula nulla, pulvinar eget tellus id, faucibus egestas arcu. In facilisis enim id nisi egestas viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vitae semper quam. In congue a sapien at imperdiet. In ultricies malesuada diam, ut sollicitudin enim gravida a. 

                p Ut et mi mollis, cursus risus id, tincidunt nisi. Integer ac magna viverra, tincidunt arcu id, tristique nulla. In vel tempus elit. Phasellus semper ex libero, sed hendrerit dui sodales nec. Nulla facilisi. Integer augue dui, ultricies porttitor eros vitae, viverra efficitur velit. Praesent interdum metus eget eleifend volutpat. Mauris porttitor leo id eros aliquam, nec imperdiet leo fringilla.
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  Nulla facilisi. Integer augue dui, ultricies porttitor eros vitae, viverra efficitur velit. Praesent interdum metus eget eleifend volutpat.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Nulla facilisi. Integer augue dui, ultricies porttitor eros vitae, viverra efficitur velit. Praesent interdum metus eget eleifend volutpat.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p  Nulla facilisi. Integer augue dui, ultricies porttitor eros vitae, viverra efficitur velit. Praesent interdum metus eget eleifend volutpat.